<!-- <div class="fixed-top"> -->
<!-- <div class="position-relative">
<div class="position-absolute top-0 start-50 bottom-0 end-0">
<div class="p-3">
    <div class="col-8">
        <div class="container" style="padding-top: 0px;">
            <p class="h4">Resumen de tu cita</p>
                <ul class="list-unstyled">
                    <li>This is a list.</li>
                    <li>It appears completely unstyled.</li>
                    <li>Structurally, it's still a list.</li>
                    <li>However, this style only applies to immediate child elements.</li>
                    <li>Nested lists:
                    <ul>
                        <li>are unaffected by this style</li>
                        <li>will still show a bullet</li>
                        <li>and have appropriate left margin</li>
                    </ul>
                    </li>
                    <li>This may still come in handy in some situations.</li>
                </ul>
        </div>
    </div>
</div>
</div>
</div> -->
<!-- </div> -->

<div class="container py-4">
    <!-- <div class="position-relative" style="height: 2rem;"> -->
        <div class="position-absolute top-50 start-50" style="height: 50rem; width: 50rem;">
            <p class="h4">Resumen de tu cita</p>
            <ul class="list-unstyled">
                <li>Especialidad:</li>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                    <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Cardiología</span>
                </a>
                <li>Médico:</li>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                    <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Lorem</span>
                </a>
                <li>Sede:</li>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                    <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Lorem</span>
                </a>
                <li>Fecha:</li>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                    <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Lorem</span>
                </a>
                <li>Hora:</li>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                    <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Lorem</span>
                </a>
            </ul>
        </div>
    <!-- </div> -->
</div>