<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-sp-gold.png" alt="Bootstrap" width="400" height="110">
    </a>
    <span class="navbar-text">
      Odar Medina Incio
    </span>
  </div>
</nav>
<hr>
<body>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-white col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
        <div class="bg-white p-2">
<!--           <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
              <span class="fs-4 d-none d-sm-inline">SideMenu</span>
          </a> -->
          <ul class="nav-pills flex-column mt-4">
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                  <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Inicio</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10" routerLink="resumencita">
                  <i class="bi bi-clock"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Agendar cita</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10" routerLink="histocitas">
                  <i class="bi bi-calendar2-event"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Mis citas</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                  <i class="bi bi-prescription2"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Otros servicios</span>
                </a>
          </ul>
        </div>
      </div>
      <div class="d-flex" style="height: 400px;">
        <div class="vr"></div>
      </div>
      <!-- contenido -->
<!--       <div class="p-3">
          <h2>Content Area</h2>
      </div> -->
    </div>
  </div>
</body>
<!-- etiqueta router outlet -->
<section style="min-height: 500px; padding-top: 0px; padding-bottom: 0px;">
  <router-outlet></router-outlet>
</section>
