<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-sp-gold.png" alt="Bootstrap" width="400" height="110">
    </a>
    <span class="navbar-text">
      Odar Medina Incio
    </span>
  </div>
</nav>
<hr>

<body>
  
<!-- <div class="row">
  <div class="col-4"> -->
    <!-- <div class="position-absolute top-0 start-100 translate-middle"> -->
    <!-- <div class="card text-end" style="width: 18rem;"> -->
<!--       <nav id="navbar-principal" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav flex-column">
          <a class="nav-link active" aria-current="page" href="#item-1"><i class="bi bi-house"></i> Inicio</a>
          <a class="nav-link active" aria-current="page" routerLink="resumencita"><i class="bi bi-clock"></i> Agendar cita</a>
          <a class="nav-link active" aria-current="page" routerLink="histocitas"><i class="bi bi-calendar2-event"></i> Mis citas</a>
          <a class="nav-link active" aria-current="page" href="#item-4"><i class="bi bi-prescription2"></i> Otros servicios</a> -->
  <!--    <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled" aria-disabled="true"><i class="bi bi-prescription2"></i> Otros servicios</a> -->
<!--         </nav>
      </nav>  -->
    <!-- </div> -->
<!--   </div>
</div> -->

<!--   <div class="col-8">
    <div data-bs-spy="scroll" data-bs-target="#navbar-principal" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1">
        <h4>Item 1</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, harum ab architecto repellendus nulla similique accusamus sed, vero porro non eveniet tempora autem beatae voluptas? Libero qui eaque placeat consequatur.</p>
      </div>
      <div id="item-2">
        <h4>Item 2</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit quaerat enim rem sunt architecto, sint qui ullam, quae itaque temporibus repellat similique veritatis reprehenderit nostrum. Libero optio quos assumenda dolor!</p>
      </div>
      <div id="item-3">
        <h4>Item 3</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quia laudantium porro. Debitis neque fuga harum vel, perspiciatis deleniti ipsum molestiae a aperiam! Numquam beatae magni quis rem, ex atque!</p>
      </div>
      <div id="item-4">
        <h4>Item 4</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro mollitia, optio minus maiores alias incidunt voluptas pariatur dolorum modi totam ea, voluptates quidem accusantium impedit commodi ducimus velit tenetur nisi.</p>
      </div>
    </div>
  </div> -->
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="bg-white col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
        <div class="bg-white p-2">
<!--           <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
              <span class="fs-4 d-none d-sm-inline">SideMenu</span>
          </a> -->
          <ul class="nav-pills flex-column mt-4">
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                  <i class="bi bi-house"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Inicio</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10" routerLink="resumencita">
                  <i class="bi bi-clock"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Agendar cita</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10" routerLink="histocitas">
                  <i class="bi bi-calendar2-event"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Mis citas</span>
                </a>
                <a href="#" class="nav-link text-black nav-item py-2 py-sm-10">
                  <i class="bi bi-prescription2"></i><span class="fs-6 ms-3 d-noned d-sm-inline">Otros servicios</span>
                </a>
          </ul>
        </div>
      </div>
      <div class="d-flex" style="height: 400px;">
        <div class="vr"></div>
      </div>
      <!-- contenido -->
<!--       <div class="p-3">
          <h2>Content Area</h2>
      </div> -->
    </div>
  </div>
</body>

<!-- etiqueta router outlet -->
<section style="min-height: 500px; padding-top: 0px; padding-bottom: 0px;">
  <router-outlet></router-outlet>
</section>
